/* * {
    margin: 0;
    border: 1px black solid;
} */
body {
    background: #90c2e7 url("images/clouds.png") repeat left top;
    background-size: 800px;
    font-family: 'PT Sans', sans-serif;
}

#myCanvas {
    display:block;
    margin: auto;
}

.header, .main-content {
    background-color: rgba(209, 213, 222, 0.9);
    margin: 20px 15%;
    padding: 20px 5% 20px 5%;
    position: static;
}
.header {
    box-shadow: 0 5px 30px black;
}
.main-content {
    box-shadow: 0 5px 15px black;
}

.slideshow {
    width: 50%;
    margin: auto;
}
.slideshow img {
    width: 100%;
}

p {
    font-family: 'Lato', sans-serif;
}

.parallax {
    z-index: -1;
    position: fixed;
    background: url("images/trees2.png") repeat-x;
    background-attachment: fixed;
    background-size: 300px auto;
    background-position: bottom center;
    height: 100%;
    width: 100%;
}